<a href="#!/dashboard">Back</a>
<div>
	<h4 style="display: inline-block;" ng-bind="topic._user.name "></h4><span style="display: inline-block;">&nbsp;posted a topic:</span>
	<h2 ng-bind="topic.title"></h2>
	<p ng-bind="topic._category.category"></p>
	<p ng-bind="topic.description"></p>
</div>
<div>
<div ng-if="post_errors">
	<p style="color: red;" ng-repeat="error in post_errors track by $index">{{error.message}}</p>
</div>
<h4>Post your answer here...</h4>
<textarea ng-model="post.content"></textarea>
<button ng-click="createPost();">Post</button>
</div>
<div>
	<div ng-repeat="post in topic.posts">
		<h4 ng-bind="post._user.name"></h4>
		<p ng-bind="post.content"></p>
		<div ng-repeat="comment in post.comments">
			<a href="#"><span ng-bind="comment._user.name"></span></a><p ng-bind="comment.content"></p>
		</div>
		<textarea ng-model="comment.content"></textarea>
		<button ng-click="createComment(post, comment);">Comment</button>
	</div>
</div>