<div style="width:50%;">
	<a href="#!/dashboard">Back</a>
	<a href="#!/">Logout</a>
	<div>
		<h4 style="display: inline-block;" ng-bind="topic._user.name "></h4>
		<span style="display: inline-block;">&nbsp;posted a topic:</span>
		<h2 style="margin-top: -10px;" ng-bind="topic.title"></h2>
		<div>
			<label style="display:inline-block;">Category:&nbsp;</label>
			<p style="display:inline-block;" ng-bind="topic._category.category"></p>
		</div>
		<div>
			<label style="display:inline-block;">Description:&nbsp;</label>
			<p style="display:inline-block;" ng-bind="topic.description"></p>
		</div>
	</div>
	<div>
		<div ng-if="post_errors">
			<p class="error" ng-repeat="error in post_errors track by $index">{{error.message}}</p>
		</div>
		<div ng-if="vote_error">
			<p class="error" style="float:right;" ng-bind="vote_error"></p>
		</div>
		<div ng-if="upVote_error">
			<p class="error" ng-bind="upVote_error"></p>
		</div>
		<div ng-if="downVote_error">
			<p class="error" ng-bind="downVote_error"></p>
		</div>
		<div ng-if="comment_errors">
			<p class="error" ng-repeat="error in comment_errors track by $index">{{error.message}}</p>
		</div>
		<h4>Post your answer here...</h4>
		<textarea ng-model="post.content" rows="5" cols="90"></textarea>
		<button style="display: block;" ng-click="createPost();">Post</button>
		<div ng-repeat="post in topic.posts">
			<a href="#!/users/{{post._user._id}}">
				<span ng-bind="post._user.name"></span>
			</a>&nbsp;
			<p style="display:inline-block; vertical-align: top; margin-top: 0;" ng-bind="post.content"></p>
			<div style="display: inline-block; vertical-align: top; float: right; margin-top: 1em;">
					<span ng-bind="post.upVotes.length"></span>
					<button ng-click="createUpvote(post);">Upvote</button>
					<span ng-bind="post.downVotes.length"></span>
					<button ng-click="createDownvote(post)">Downvote</button>
			</div>
				<div ng-repeat="comment in post.comments">
					<a href="#!/users/{{comment._id}}">
						<span ng-bind="comment._user.name"></span>
					</a>&nbsp;
					<p style="display: inline-block;" ng-bind="comment.content"></p>
				</div>
				<textarea style="display: block;" rows="4" cols="70" ng-model="comment.content"></textarea>
				<button style="display: block;" ng-click="createComment(post, comment);">Comment</button>
			</div>
		</div>
	</div>
</div>